# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment variables
.env
.env.local
frontend/.env*
backend/.env*

# Next.js
frontend/.next/
frontend/out/
frontend/*.tsbuildinfo

# PWA files
frontend/public/sw.js
frontend/public/workbox-*.js
frontend/public/worker-*.js
frontend/public/sw.js.map
frontend/public/workbox-*.js.map
frontend/public/worker-*.js.map

# NestJS
backend/dist/
backend/*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
*.pem